# Database Config
DB_TYPE=sqlite
USE_SQLITE=true
DB_USER=matchtrack
DB_PASS=
DB_HOST=127.0.0.1
DB_NAME=matchtrack
DB_PORT=3306

# App Config
SECRET_KEY=
APP_NAME=MatchTracker
APP_URL=http://localhost:3000
TIMEZONE=Europe/Berlin

# SMTP Mail Config (Optional)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
